[submodule "Samples"]
	path = Samples
	url = https://github.com/Azure/azure-sphere-samples.git
[submodule "Lab_01_publish_telemetry/AzureSphereDevX"]
	path = Lab_01_publish_telemetry/AzureSphereDevX
	url = https://github.com/gloveboxes/AzureSphereDevX.git
[submodule "Lab_02_data_validation/AzureSphereDevX"]
	path = Lab_02_data_validation/AzureSphereDevX
	url = https://github.com/gloveboxes/AzureSphereDevX.git
[submodule "Lab_03_remote_operations/AzureSphereDevX"]
	path = Lab_03_remote_operations/AzureSphereDevX
	url = https://github.com/gloveboxes/AzureSphereDevX.git
[submodule "Lab_04_real_time_enviromon_bm/mt3620_m4_software"]
	path = Lab_04_real_time_enviromon_bm/mt3620_m4_software
	url = https://github.com/MediaTek-Labs/mt3620_m4_software.git
[submodule "Lab_06_production/AzureSphereDevX"]
	path = Lab_06_production/AzureSphereDevX
	url = https://github.com/gloveboxes/AzureSphereDevX.git
[submodule "Lab_01_publish_telemetry_avnet/AzureSphereDevX"]
	path = Lab_01_publish_telemetry_avnet/AzureSphereDevX
	url = https://github.com/gloveboxes/AzureSphereDevX.git
[submodule "Lab_01_publish_telemetry_avnet/Drivers"]
	path = Lab_01_publish_telemetry_avnet/Drivers
	url = https://github.com/gloveboxes/AzureSphereDrivers.git
